# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code and PyCharm
.vscode/
.idea/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Audio and output files
